/* nav */
@import url(https://unpkg.com/@webpixels/css@1.0/dist/index.css);
.navbar-dark .navbar-toggler:focus {
    color: transparent;
    background-color: none;
}
.navbar-dark .navbar-toggler:focus {
    color: transparent;
    background-color: #16192c;
}

/* signin */
.content_in{
    display: flex;
    justify-content: center;
    color: black;
}
.card{
    box-shadow: 2px 2px 4px rgb(207, 207, 207);
}

.btn-lg, .btn-group-lg>.btn {
    padding: 1rem 5.5rem !important;
}
.arrow{
    display: flex;
    justify-content: end;
    font-size: 21px;
    color: #4E52D0;
}
.sign_icon{
    color: #4E52D0;
}
.form-control {
    border: 1px solid #c3cee5 !important;
}
/* hero */
.hero-container img {
    width: 100%;
    height: auto;
}
/* preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .spinner-border {
    width: 3rem;
    height: 3rem;
  }
  .text-secondary {
    color: #929ca9 !important;
}
.img-p{
    width: 250px !important;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
#listContainer {
    margin-top: 20px;
}

#listContainer .list-item {
    background-color: rgb(78 82 208 / 21%);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
}
.start {
    background-image: linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180));
    padding: 80px; 
    text-align: center;
    color: white;
}
.get_start {
    display: flex;
    justify-content: center;
    gap: 70px;
}
.start_email{
    padding: 8px;
    outline: none;
    border-radius: 5px;
    width: 120%;
}
.collab{
    text-align: center;
}
.collab_img{
    width: 60% !important;
    margin-top: 20px;
}

.action_card{
    border-radius: 12px !important;
}
.action_yellow {
    background-color: rgb(255, 196, 0);
    padding: 25px;
}
.action_blue{
    background: rgb(0, 199, 229);
    padding: 25px;
}
.action_orange{
    background: rgb(255, 116, 82);
    padding: 25px;
}
.task_action{
    background-color: rgb(255, 255, 255);
    background-image: url(/img/task.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 8px;
    height: 3rem;
    left: 1rem;
    position: absolute;
    top: 1.5rem;
    width: 3rem;
}
.task_action_y{
    background-image: url(/img/task.png);
}
.task_action_b{
    background-image: url(/img/brain.svg);
}
.task_action_p{
    background-image: url(/img/project.png);
}

/* responsive */
@media (max-width: 1200px){
    .hero-container h2 {
        font-size: 36px !important;
    }
}
@media (max-width: 768px){
    .hero-container .row {
        flex-direction: column;
    }

    .hero-container img {
        width: 100%;
    }

    .hero-container .col {
        text-align: center;
        padding: 20px;
    }

   .banner{
    margin-top: -2.75rem !important;
    }
    /* pricing */
    .price{
        margin-bottom: 15px;
    }
    

}
@media (max-width: 576px){
.btn-lg, .btn-group-lg>.btn {
    padding: 1rem 4.5rem !important;
}
.form-check-label {
    font-size: 13px !important;
}
.hero-container .col {
    padding: 10px;
}

.hero-container h2 {
    font-size: 1.2rem !important;
}

.hero-container p {
    font-size: 0.9rem !important;
}

.hero-container .btn {
    font-size: 0.8rem !important;
    padding: 8px 16px !important;
}

.hero-container img {
    margin-bottom: 20px;
}
.img-p {
    width: 160px !important;
}
.fea_img{
   padding-bottom: 0px !important;
  margin-top: 0px !important;
}
.start {
    padding: 40px !important;
}
.start_email {
    padding: 10px !important ;
}
.get_start {
    gap: 50px !important;
}
.collab_img {
    width: 90% !important;
    margin-bottom: -8px !important;
}
.collab h4{
    font-size: 16px !important; 
}

}
